<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="productItem.image" />

  <div class="card-body">
    <p class="card-text">
      <strong style="font-family: sans-serif; font-style: italic;">{{ productItem.artikelbez}}</strong>
    </p>
      <strong>{{ productItem.preis | currency:'EUR' }}</strong>
    <p class="card-text">{{ productItem.description | slice: 0:80 }}...</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Hinzufügen</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">Details</button>
      </div>
    </div>
  </div>
</div>

<!--

<div  class="card-deck" *ngFor="let p of productItem; let i=index; trackBy: trackByData">
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="assets/maske.png" style="width: 200px; height: 200px; margin-left: 90px" >
      <p class="card-text">
        <strong>{{p.artikelbez}}</strong>
      </p>
      <p class="card-text">{{p.preis | currency:'EUR'}} </p>
      <p class="card-text">{{p.description | slice: 0: 80 }}... </p>

      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button style="margin-right: 15px" type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Zum Warenkorb hinzufügen</button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>-->





<!--
div style="margin-left: 20%; margin-right: 20%"  class="card mb-lg-2 shadow-sm">
<div class="card-img text-center">
</div>

<div  class="card-deck" *ngFor="let p of productItem; let i=index;">
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="assets/maske.png" style="width: 200px; height: 200px; margin-left: 90px" >
      <p class="card-text">
        <strong>{{p.artikelbez}}</strong>
      </p>
      <p class="card-text">{{p.preis | currency:'EUR'}} </p>
      <p class="card-text">{{p.description | slice: 0: 80 }}... </p>

      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button style="margin-right: 15px" type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Zum Warenkorb hinzufügen</button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
-->
