<div style="background: rgb(63,136,143); " class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
<!--  <a href="mask.jpg" class="navbar-left"><img src="/src/assets/mask.jpg"></a>-->
<a  routerLink="/"><img src="assets/maske.png" style="width: 70px; height: 70px; margin-left: 15px;"></a>
  <h3 class="my-0 mr-md-auto font-weight-lighter">
    <app-header></app-header>
  </h3>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 " [routerLink]="['/staysafe']">Shop</a>
    <a class="p-2 " [routerLink]="['/read']">Bestellungen</a>
  </nav>
<a class="btn btn-primary" [routerLink]="['/register']">Registrieren</a>
  <a class="ml-2 btn btn-outline-secondary" [routerLink]="['/login']">Anmelden</a>
</div>
