<div *ngIf="!isLogin" class = 'col-md-4 offset-4 mt-5'>
  <div class="container">
    <div class="container-3">
      <h1>Du bist nicht angemeldet!</h1>
      <h3>Melde dich zuerst an, um eine neue Bestellung zu erstellen</h3>
      <a><button class="btn btn-info btn-block" [routerLink]="['../anmeldung']">Anmelden</button></a>
    </div>
  </div>
</div>

<div *ngIf="isLogin">
<div style="background: honeydew; border-radius: 15px;
      padding: 5%;" class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Kunden in die Liste hinzufügen</h3>
    <p></p>
    <div class="form-group row">
      <label for="inputFirstName" class="col-sm-2 col-form-label">Vorname</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="firstNameControl" id="inputFirstName">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputLastName" class="col-sm-2 col-form-label">Nachname</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="lastNameControl" id="inputLastName">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label">E-Mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="emailControl" id="inputEmail">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputOrderNr" class="col-sm-2 col-form-label">Bestell-Nummer</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="orderNrControl" id="inputOrderNr">
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Erstellen</button>
      </div>
      <div class="col-sm-6">
        <button type="cancel" class="btn btn-secondary btn-block" (click)="cancel()">Abbrechen</button>
      </div>
    </div>
  </form>
</div>
</div>
