<!--<div class="row">
  <div class="col-md-4" *ngFor="let product of productList">
    <app-productlist [productItem]="product" [addedToWishlist]="wishlist.indexOf(product.id) >= 0"></app-productlist>
  </div>
</div>-->
<!--<table class="table table-striped table-hover">
  <caption>List of Members</caption>
  <thead>
  <tr>
    <th>Nr.</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>E-Mail</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of product; let i=index; trackBy: trackByData">
    <td>{{ i+1 }}</td>
    <td>{{p.artikelbez}}</td>
    <td>{{p.image}}</td>
    <td>{{p.description}}</td>
    <td>{{p.quantity}}</td>
    <td>{{p.preis}}</td>
    <td><a [routerLink]="['/read/', product]">
      <i-bs
        name="pencil-square"
        class="text-secondary"
        width="1em"
        height="1em">
      </i-bs></a></td>
  </tr>
  </tbody>
</table>-->

<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top p-2" width="100%"  />

  <div class="card-body" *ngFor="let p of product; let i=index; trackBy: trackByData">
    <p class="card-text"><img src="" ></p>
    <p class="card-text">
      <strong>{{p.artikelbez}}</strong>
    </p>
    <p class="card-text">{{p.preis | currency:'EUR'}} </p>
    <p class="card-text">{{p.description}} </p>

    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Add to
          Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
      </div>
    </div>
  </div>
</div>
