<!--<div class="row">
  <div class="col-md-4" *ngFor="let product of productList">
    <app-productlist [productItem]="product" [addedToWishlist]="wishlist.indexOf(product.id) >= 0"></app-productlist>
  </div>
</div>-->
<!--<table class="table table-striped table-hover">
  <caption>List of Members</caption>
  <thead>
  <tr>
    <th>Nr.</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>E-Mail</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of product; let i=index; trackBy: trackByData">
    <td>{{ i+1 }}</td>
    <td>{{p.artikelbez}}</td>
    <td>{{p.image}}</td>
    <td>{{p.description}}</td>
    <td>{{p.quantity}}</td>
    <td>{{p.preis}}</td>
    <td><a [routerLink]="['/read/', product]">
      <i-bs
        name="pencil-square"
        class="text-secondary"
        width="1em"
        height="1em">
      </i-bs></a></td>
  </tr>
  </tbody>
</table>-->

<!--
<div class="row">
  <div class=".col-xs-6">
  </div>
-->



<div class="card mb-lg-2 shadow-sm">
  <div class="card-img text-center">
  </div>

  <div class="card-deck" *ngFor="let p of product; let i=index; trackBy: trackByData">
    <div class="card">
  <div class="card-body">
     <img class="card-img-top" src="assets/Desinfektionsspray.jpg" style="width: 200px; height: 200px" >
    <p class="card-text">
      <strong>{{p.artikelbez}}</strong>
    </p>
    <p class="card-text">{{p.preis | currency:'EUR'}} </p>
    <p class="card-text">{{p.description}} </p>

    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Zum Warenkorb hinzufügen</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
<!--
<div class="row">
  <div class="col-md-4" *ngFor="let product of productList">
    <app-product-item [productItem]="product"></app-product-item>
  </div>
</div>-->
<!--
    <div class="card-deck" *ngFor="let p of product; let i=index; trackBy: trackByData">
    <div class="card">
      <img class="card-img-top" src="assets/Desinfektionsspray.jpg" style="width: 200px; height: 200px" >
      <div class="card-body">
        <h5 class="card-title">{{p.artikelbez}}</h5>
        <p class="card-text">{{p.preis | currency:'EUR'}} </p>
        <p class="card-text">{{p.description}}
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Add to
              Cart</button>
            <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">hi</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
-->
