<div style="background: #c8e3e0;" class="filter">

  <div style="padding-left: 36%;" class="card-header">
    <strong>Filter</strong>
  </div>
  <div class="card-body">
    <form>
    <div class="from-group">
      <label for="from">Von</label>
      <input type="number" id="from" class="form-control">
    </div>

    <div class="form-group">
      <label for="to">Bis</label>
      <input type="number" id="to" class="form-control">
    </div>

    <button class="btn btn-primary btn-block btn-sm">Suchen</button>
  </form>
  </div>
</div>

