<div *ngIf="selectedId == 0" class="container">
  <h2>Bestell-Liste</h2>
<table class="table table-striped table-hover">
  <caption>Bestell-Liste</caption>
  <thead>
  <tr>
    <th>Nr.</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>E-Mail</th>
    <th>Bestellungs-Nummer</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders; let i=index; trackBy: trackByData">
    <td>{{ i+1 }}</td>
    <td>{{order.firstname}}</td>
    <td>{{order.lastname}}</td>
    <td>{{order.email}}</td>
    <td>{{order.orderNr}}</td>
    <td><a [routerLink]="['/read/', order.id]">
      <i-bs
        name="pencil-square"
        class="text-secondary"
        width="1em"
        height="1em">
      </i-bs></a></td>
  </tr>
  </tbody>
</table>
</div>
<div *ngIf="selectedId > 0" class="container">
  <h1>{{ selectedId }}</h1>
  <p>{{ error?.message }}</p>
  <p>{{ error?.status }}</p>
  <app-form [orders]="order"></app-form>
  <p><a [routerLink]="['/read']">Zurück zur Tabelle</a></p>
</div>

