<!--
<table class="table table-striped table-hover">
  <caption>List of Members</caption>
  <thead>
  <tr>
    <th>Nr.</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>E-Mail</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of product; let i=index; trackBy: trackByData">
    <td>{{ i+1 }}</td>
    <td>{{p.artikelbez}}</td>
    <td>{{p.image}}</td>
    <td>{{p.description}}</td>
    <td>{{p.quantity}}</td>
    <td>{{p.preis}}</td>
    <td><a [routerLink]="['/read/', product]">
      <i-bs
        name="pencil-square"
        class="text-secondary"
        width="1em"
        height="1em">
      </i-bs></a></td>
  </tr>
  </tbody>
</table>-->
